<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Tanguy BELIN - Web déveloper" />
		<title class="trn">Tanguy BELIN - Web Développeur</title>
		<meta name="author" content="Tanguy BELIN" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
		<script src="js/modernizr.custom.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="js/jquery.translate.js"></script>
		<script src="js/main.js"></script>
		<script src="js/progressbar.js"></script>
	</head>
	<body>
	<div class="fade">
		<svg width="150px"  height="150px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-double-ring" style="background: none;"><circle cx="50" cy="50" ng-attr-r="{{config.radius}}" ng-attr-stroke-width="{{config.width}}" ng-attr-stroke="{{config.c1}}" ng-attr-stroke-dasharray="{{config.dasharray}}" fill="none" stroke-linecap="round" r="40" stroke-width="4" stroke="#ffffff" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(258 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle><circle cx="50" cy="50" ng-attr-r="{{config.radius2}}" ng-attr-stroke-width="{{config.width}}" ng-attr-stroke="{{config.c2}}" ng-attr-stroke-dasharray="{{config.dasharray2}}" ng-attr-stroke-dashoffset="{{config.dashoffset2}}" fill="none" stroke-linecap="round" r="35" stroke-width="4" stroke="#ffffff" stroke-dasharray="54.97787143782138 54.97787143782138" stroke-dashoffset="54.97787143782138" transform="rotate(-258 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
	</div>
		<div class="container">
			<div id="splitlayout" class="splitlayout">
				<div class="intro">
					<div class="side side-left">
						<header class="header clearfix">
							<span>TANGUY BELIN</span>
							<h1 class="trn">Web Developpeur</h1>
							<div class="location"><i class="fas fa-map-marker-alt"></i> Melbourne 3181</div>
							<div class="social">
								<a href="mailto:tanguybelin@hotmail.com" class="fas fa-envelope"></a>
								<a href="tel:+61431557607" target="_blank" class="fas fa-phone"></a>
								<a href="https://www.linkedin.com/in/tanguybelin/" target="_blank" class="fab fa-linkedin-in"></a>
								<a href="https://www.facebook.com/tanguy.belin" class="fab fa-facebook-f" target="_blank"></a>
								<a href="https://twitter.com/belin_tanguy" class="fab fa-twitter" target="_blank"></a>
								<div class="phone-number">04 31 55 76 07</div>
							</div>
						</header>
						<div class="intro-content">
							<div class="profile"><img src="img/profil.png" alt="profile"></div>
							<h1><span class="trn">A propos</span></h1>
						</div>
						<div class="overlay"></div>
					</div>
					<div class="side side-right">
						<div class="translator">
							<a href="#" class="fr">FR</a> | <a href="#" class="en">EN</a>
						</div>
						<div class="intro-content">
							<div class="profile"><i class="fas fa-code fa-5x"></i></div>
							<h1><span class="trn">Compétences et Projets</span></h1>
						</div>
						<div class="overlay"></div>
					</div>
				</div><!-- /intro -->
				<div class="page page-right">
					<div class="page-inner">
						<section class="section-projects">
							<h2 class="trn">Compétences</h2>
							<div class="bar-container">
								<div class="bar" data-color1="#333333" data-color2="#565555" data-number="1" data-text="Symfony" ></div>
								<div class="bar" data-color1="#F57B20" data-color2="#FBB57D" data-number="0.8" data-text="Magento" ></div>
								<div class="bar" data-color1="#563E7A" data-color2="#664a91" data-number="0.7" data-text="Bootstrap" ></div>
								<div class="bar" data-color1="#0866A9" data-color2="#74C6E7" data-number="0.8" data-text="Jquery" ></div>
								<div class="bar" data-color1="#ea414c" data-color2="#ed747c" data-number="0.6" data-text="Wordpress" ></div>
								<div class="bar" data-color1="#adf907" data-color2="#aeff00" data-number="0.6" data-text="Lamp" ></div>
							</div>
						</section>
						<section>
							<h2 class="trn">Projets</h2>
							<div class="project">
								<h3>Magento :</h3>
								<a target="_blank" href="https://www.adopt.fr/"><img src="img/adopt.png" /></a>
								<a target="_blank" href="https://www.unkut.fr/"><img src="img/unkut.png" /></a>
								<a target="_blank" href="https://www.ppk.fr/"><img src="img/ppk.png" /></a>

								<h3>Symfony :</h3>
								<a target="_blank" href="http://fondationlyceeduparc.fr/"><img src="img/fondation.png" /></a>
								<a target="_blank" href="https://www.hyper-services.fr/"><img src="img/hyper.png" /></a>
								<a target="_blank" href="https://agro-pro.michelin.com/en/login"><img src="img/michelin.png" /></a>

								<h3>Wordpress :</h3>
								<a target="_blank" href="https://ohmydigital.fr/"><img src="img/OMD.png" /></a>
							</div>
						</section>
					</div><!-- /page-inner -->
				</div><!-- /page-right -->
				<div class="page page-left">
					<div class="page-inner">
						<section>
							<h2 class="trn">A propos ...</h2>
							<div class="inner-page-left">
								<p class="trn">Passionné depuis toujours par le développement, j'ai de nombreuses expériences en front-end et back-end.</p>
								<p class="trn">J'ai une bonne maîtrise de technologies tel que Symfony, Magento, Bootstrap, Jquery, Saas, ...</p>
								<p class="trn">Ces deux dernières années, j'ai eu la chance de travailler dans une grande entreprise nommé GFI Informatique en tant que développeur Back-end sur le pôle e-commerce Magento.</p>
								<p class="trn">Je suis aussi freelance depuis trois ans, ce qui m'a permis de participer a de nombreux projets mêlant mes deux technologies préférées : Symfony et Magento !</p>
								<p class="trn">N'hésitez pas a me contacter pour n'importe quelle demandes/propositions. Je me ferais une joie d'y répondre !</p>
							</div>
						</section>

						<section>
							<h2 class="trn">Passe temps</h2>
							<div class="inner-page-left hobbies">
								<img src="img/velo.svg" class="velo"/>
								<img src="img/001-camera.png"/>
								<img src="img/002-music.png"/>
								<img src="img/003-travel.png"/>
							</div>
						</section>
					</div><!-- /page-inner -->
				</div><!-- /page-left -->
				<a href="#" class="back back-right" title="back to intro">&rarr;</a>
				<a href="#" class="back back-left" title="back to intro">&larr;</a>
			</div><!-- /splitlayout -->
		</div><!-- /container -->
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
	</body>
</html>
